node_modules/
dist/
/.env
/*.local

## OS
.DS_Store
Thumbs.db

## Editor directories
.vscode/
.idea/

## Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## Build / cache
build/
coverage/
.cache/
.vite/
tsconfig.tsbuildinfo

## Other
.env.*
.env.local
